<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Recipedia</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/bootstrap.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container">
            <a class="navbar-brand" href="/">Recipedia</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
                aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/indexer">List of Index</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <br>
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <img src="{{ url_for('static',filename='image/recipe.png') }}" alt="Recipedia Logo"
                    style="height:140px; float:left">
                <img src="{{ url_for('static',filename='image/recipe.png') }}" alt="Recipedia Logo"
                    style="height:140px; float:right">
                <h1> Recipedia</h1>
                <small class="text-left"> Recipe Search Engine Made by Ariansyah, Sarah, Naomi, and Melani</small>
            </div>
        </div>
    </div>


    <div class="container search-section">
        <div class="row">
            <div class="col">
                <form method="post" action="/search">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Search : Chicken" aria-label="Search"
                            aria-describedby="button-addon2" name="search_input">
                        <div class="input-group-append">
                            <!-- <button class="btn btn-outline-primary" type="submit" id="search">Search</button> -->
                            <input class="btn btn-outline-primary" type="submit" id="search" value="Search">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="row">
            <div class="col">
                {% if result is defined %}
                <small class="text-secondary"> Result for : <b>{{query}}</b> </small>
                <small class="text-secondary" style="float:right"> Not Satisfied with Current Query? <a
                        href="/expand/{{ query }}">Expand</a> </small>
                <br>
                <br>
                <h3 style="text-align: center">Top 10 Retrieved Documents</h3>
                <!-- {{array}} -->
                <table class="table table-hover">
                    <thead>
                        <tr class="table table-primary">
                            <th>Rank</th>
                            <th>Document ID</th>
                            <th>Document Title</th>
                            <th>Directory</th>
                            <th>Relevance Score</th>
                        </tr>
                    </thead>
                    <tbody>

                        {% for res in range(0,result|length) %}
                        <tr>
                            <td>{{res+1}}</td>
                            <td>{{result[res]["id"]}}</td>
                            <td>{{result[res]["name"]}}</td>

                            <td>
                                <a href="{{url_for('static', filename='data/'+result[res]['name'])}}">
                                    Download
                                </a>
                            </td>
                            <td><b>{{result[res]["score"]}}</b></td>

                        </tr>

                        {% endfor %}
                        </p>
                    </tbody>
                </table>
                {% else %}
                <p><b>No document result!</b></p>
                {% endif %}
            </div>
        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
</body>

</html>